<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col min-h-screen">
    <section class="bg-gray-800 p-4">
      <div class="container mx-auto flex">
        <div class="flex">
          <a href="" class="text-white text-lg font-semibold mr-10">Welcome</a>

          <button
            class="text-gray-300 hover:text-white focus:outline-none mr-10"
            id="menu-button"
          >
            <!-- Hamburger menu icon -->
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </button>

          <ul class="flex space-x-6 my-auto">
            <li>
              <a href="/home" class="text-gray-300 hover:text-white">Home</a>
            </li>
            <li>
              <a href="/addUser" class="text-gray-300 hover:text-white"
                >Add user</a
              >
            </li>
            <li>
              <a href="/users" class="text-gray-300 hover:text-white">Users</a>
            </li>
            <li>
              <a href="#" class="text-gray-300 hover:text-white">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Mobile menu -->
      <div id="mobile-menu" class="hidden">
        <ul class="flex flex-col space-y-4 mt-4">
          <li>
            <a href="/" class="text-gray-300 hover:text-white block">Home</a>
          </li>
          <li>
            <a href="/addUser" class="text-gray-300 hover:text-white block"
              >Add user</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white block"
              >Services</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-300 hover:text-white block">Contact</a>
          </li>
        </ul>
      </div>
    </section>
    <script>
      // JavaScript to handle mobile menu toggle
      const menuButton = document.getElementById('menu-button')
      const mobileMenu = document.getElementById('mobile-menu')

      menuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden')
      })
    </script>
  </body>
</html>
