<%-include('layouts/header.ejs') %>

<main class="w-full max-w-xs">
  <h1>welcome</h1>
  <h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi facilis eius
    atque dignissimos nemo ratione consequuntur nam officiis. Qui laudantium
    voluptate dignissimos at unde voluptas autem dicta! Excepturi, iusto odio.
  </h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut corporis
    reprehenderit quo aspernatur. Laboriosam quibusdam odio maxime numquam cum
    quasi eligendi illum voluptatum, nesciunt accusamus unde consequatur nemo
    tempore rerum?
  </p>
</main>
<%-include('layouts/footer.ejs') %>
